<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1"
      >
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>
<div layout:fragment="content1">
     <div class="container-fluid">
         <div class="text-center mt-5">
             <H2>Welcome To Student Management_App</H2>
         </div>
     </div>
</div>
</body>
</html>